# Web Scraping

In [8]:
import pandas as pd
link = "https://en.wikipedia.org/wiki/Comma-separated_values"
tables = pd.read_html(link)
table = tables[1]
print(table)
table.to_csv("table.csv")

   Year   Make                                   Model  \
0  1997   Ford                                    E350
1  1999  Chevy              Venture "Extended Edition"
2  1999  Chevy  Venture "Extended Edition, Very Large"
3  1996   Jeep                          Grand Cherokee

                        Description   Price
0                     ac, abs, moon  3000.0
1                               NaN  4900.0
2                               NaN  5000.0
3  MUST SELL!air, moon roof, loaded  4799.0